@import '../../scss-setings/vars.scss';

.btn {
    background-color: $maroon;
    width: 38px;
    height: 34px;
    display: flex;
    border: none;
    outline: transparent;
    cursor: pointer;

    svg {
        width: 12px;
        height: 12px;
        margin: auto;
        fill: $white;
    }
}