@import '../../scss-setings/vars.scss';

.basket {
  &__top,
  &__bottom {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 10px;
    color: $grey;
    margin-right: 3px;
    cursor: pointer;
  }

  &__top {
    padding-right: 9px;
    position: relative;
  }
  &__number {
    top: 1px;
    position: absolute;
    width: 16px;
    height: 16px;
    background: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -11px;
    line-height: 1;
  }
  &__bottom {
    & div:first-child {
      margin-right: 3px;
    }
  }
}




       