
$black: #000;
$white: #fff;
$codGray: #0A0A0A;
$maroon: #7A0000;
$grey: #fafafa;
$grey-dark: #1b1918;


// $xl: 1200;
// $lg: 990;
// $md: 720;
// $m: 540;
// $s: 400;

$Inter: 'Inter', sans-serif;
$Roboto: 'Roboto', sans-serif;
$AlexBrush: 'AlexBrush', sans-serif;




