@import '../scss-setings/vars.scss';

.card {
  // border: 1px solid red;

  &__photo {
    background-color: $codGray;
    position: relative;
    min-height: 300px;
    margin-bottom: 10px;
  }

  &__image {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  &__linie {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 2px;
  }

  &__country {
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__banner {
    width: 19px;
    height: 10px;
    object-fit: cover;
    margin-right: 10px;
  }

  &__add {
    padding: 5px 9px;
    background-color: $maroon;
    color: $white;
    font-size: 17px;
  }
  &__add--desabled {
    background-color: green;
    opacity: 0.5;
    cursor: auto;
  }

  .green {
    background-color: green;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: rgba(green, 0.5);
    }
  }
  .red {
    background-color: $maroon;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: rgba($maroon, 0.5);
    }
  }

  &__sweetness {
    display: block;
    margin-bottom: 4px;
    letter-spacing: 5px;
    text-transform: capitalize;
  }

  &__year {
    display: block;
    font-size: 16px;
    letter-spacing: 3px;
  }
}
